<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/posmulten_hibernate</property>
        <property name="connection.username">posmhib4-user</property>
        <property name="connection.password">posmhib4-user</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.multiTenancy">SCHEMA</property>

        <mapping class="com.github.starnowski.posmulten.hibernate.core.model.*" />

    </session-factory>
</hibernate-configuration>