<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Integration tests" verbose="1">
    <test name="Tenant's columns creation">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.integration.SchemaTenantColumnCheckItTest" />
        </classes>
    </test>
</suite>