<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Integration tests" verbose="1">
    <test name="Tenant's columns creation">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.SchemaTenantColumnCheckItTest" />
        </classes>
    </test>
    <test name="RLS policy creation">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.RLSPolicyCheckItTest" />
        </classes>
    </test>
    <test name="should create default function">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.FunctionsItTest" />
        </classes>
    </test>
    <test name="should create constraint">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.ConstraintItTest" />
        </classes>
    </test>
    <test name="should execute operation per tenants">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.CRUDItTest" />
        </classes>
    </test>
    <test name="should execute operation per tenants for many-to-many relations">
        <classes>
            <class name="com.github.starnowski.posmulten.hibernate.hibernate6.integration.integration.OneToManyCRUDItTest" />
        </classes>
    </test>
</suite>